<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">View posts
      <form name="search-posts" method="get" action="/search" class="pull-right">
        <div class="form-group">
            <input name="q" value="" type="text" class="form-control" placeholder="Search" />
        </div>
      </form>
    </h1>
  </div>
</div>
<% if (postCount > 0) { %>
  <% include ../partials/posts-pagination %>
  <table class="table table-striped">
    <tbody>
    <% posts.forEach(function(post) { %>
      <tr>
        <td class="col-xs-7 col-sm-8 col-md-9">
          <span>
            <h4 style="display: inline-block;"><a href="/post/<%= post.id %>"><i class="fa fa-fw fa-file-text-o"></i></a> <a href="/post/<%= post.id %>"><%= post.title %></a></h4>
          </span>
          <span class="text-muted">by</span>
          <span>
            <img src="<%= post.creatorGravatar(20) %>" alt="Avatar" hspace="3" class="img-circle" />
            <%= post.creator.name || "Anonymous" %>
          </span>
        </td>
        <td class="col-xs-5 col-sm-4 col-md-3 text-muted text-right" style="vertical-align: middle;">
          <i class="fa fa-lg fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
  <% include ../partials/posts-pagination %>
<% } else { %>
  <p class="lead">There are no posts yet.</p>
  <p><a class="btn btn-success" href="/post/new"><i class="fa fa-lg fa-fw fa-plus"></i> Create a new post</a></p>
<% } %>