<h1 class="page-header"><%= post.title %></h1>
<div class="row">
  <div class="col-sm-9">
    <p class="lead"><%= post.body %></p>
  </div>
  <div class="col-sm-3">    
    <div class="media">
      <div class="media-left">
        <a href="#">
         <img src="<%= post.creatorGravatar(50) %>" alt="Avatar" class="img-circle">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><%= post.creator.name || "Anonymous" %></h3>
        <span class="text-muted"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time></span>
      </div>
    </div>
    </h3>
  </div>
</div>